.panel .panel-body h3.with-line {
    margin-bottom: 14px;
    margin-top: 0;
}
app-c9dc3d928e.css:1730
h3.with-line {
    border-bottom: 1px solid #d6d6d6;
    color: #666;
    font-weight: 400;
    padding-top: 30px;
    margin-bottom: 14px;
    line-height: 39px;
    width: 100%;
}
app-c9dc3d928e.css:2022
h3 {
    font-size: 20px;
}
app-c9dc3d928e.css:2000
h1, h2, h3, h4, h5, h6 {
    width: 100%;
    margin-top: 0;
}
app-c9dc3d928e.css:2000
h1, h2, h3, h4, h5, h6, p {
    font-family: Roboto,sans-serif;
}
vendor-2cae343ef1.css:6303
.h3, h3 {
    font-size: 24px;
}
vendor-2cae343ef1.css:6253
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
vendor-2cae343ef1.css:6205
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
vendor-2cae343ef1.css:6102
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
Inherited from div.panel.profile-page.animated.zoomIn
app-c9dc3d928e.css:3846
.panel, .panel>.panel-footer {
    color: #666;
}
Inherited from body
app-c9dc3d928e.css:2793
body {
    scrollbar-face-color: #d9d9d9;
    scrollbar-track-color: transparent;
    font: 14px/16px Roboto,sans-serif;
    color: #666;
    background-color: #F0F3F4;
}
vendor-2cae343ef1.css:6112
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
Inherited from html.ng-scope
vendor-2cae343ef1.css:6107
html {
    font-size: 10px;
}
vendor-2cae343ef1.css:5035
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
vendor-2cae343ef1.css:6107
.fc-unselectable, html {
    -webkit-tap-highlight-color: transparent;
}
Pseudo ::before element
vendor-2cae343ef1.css:6102
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
vendor-2cae343ef1.css:6102
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::scrollbar element
app-c9dc3d928e.css:3854
.panel ::-webkit-scrollbar {
    width: .4em;
    height: .4em;
}
app-c9dc3d928e.css:2782
::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}
Pseudo ::scrollbar-thumb element
app-c9dc3d928e.css:3857
.panel ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.6);
    cursor: pointer;
}
app-c9dc3d928e.css:2786
::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    cursor: pointer;
}

Pseudo ::scrollbar-track element
app-c9dc3d928e.css:3860
.panel ::-webkit-scrollbar-track {
    background: rgba(255,255,255,.7);
}
app-c9dc3d928e.css:2790
::-webkit-scrollbar-track {
    background: 0 0;
}